VITE_APPWRITE_ENDPOINT=https://cloud.appwrite.io/v1
VITE_APPWRITE_PROJECT_ID=
VITE_FUNCTION_ASK_AI_LAB=
VITE_FUNCTION_SUBMIT_KNOWLEDGE_CONTRIBUTION=
APPWRITE_COLLECTION_WEEKLY_REPORTS=
APPWRITE_COLLECTION_DATASET_REPORTS=
VITE_COLLECTION_AI_LAB_ACCOUNTS=