VITE_APPWRITE_ENDPOINT=https://cloud.appwrite.io/v1
VITE_APPWRITE_PROJECT_ID=
VITE_APPWRITE_DATABASE_ID=
VITE_COLLECTION_WEEKLY_REPORTS=
VITE_COLLECTION_DATASET_REPORTS=
VITE_COLLECTION_DATASETS=
VITE_FUNCTION_GET_TENANT_STATISTICS=